<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceGestionClient" />
                <binding name="BasicHttpBinding_IServiceGestionClient1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7880/GestionClientWCF/ServiceGestionClient.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceGestionClient"
                contract="ClientServiceGestionClient.IServiceGestionClient"
                name="BasicHttpBinding_IServiceGestionClient" />
        </client>
    </system.serviceModel>
</configuration>