<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7880/ModuleUser/UserService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="ServiceReference1.IUserService" name="BasicHttpBinding_IUserService" />
        </client>
    </system.serviceModel>
</configuration>